#body-container {
    padding: 0;
    margin: 0; 
    width: 100%; 
    max-width: 100%;
}

#body-container>.row {
    width: 100%;
}

#main-content {
    width: 100%; 
    padding: 0px 20px 0px 0px;
}

#main-content-container {
    padding: 20px 10px 10px 40px;
    margin-bottom: 0;
}

#main-content-head {
    font-size: 2.8rem;
}

#main-desc-1 {
    font-size: 1.2rem;
}

#main-desc-1 {
    margin-bottom: 0;
}